h1 {
	color: #DD9500;
	font-family: "Times New Roman", Times, serif;
	font-size: 125%;
}

body {
	color:white;
	font-size: 105%;
	background-color: #292929;
}

/*
ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
li
{
float:left;
}
a
{
display:block;
width:150px;
}
*/

ul {list-style-type:none;margin:10px}
ul li a {
text-decoration:none;
background-color:#FFB800;
color:black;padding:3px 10px;
margin:3px 10px;
float:left;
width:100px;
clear:both;
border:1px solid black
text-align:center;
}


