h1 {
	color: #FEC500;
	font-family: "Times New Roman", Times, serif;
	font-size: 125%;
}
h2 {
	color: #FFD700;
	font-family: "Times New Roman", Times, serif;
	font-size: 105%;
}
body {
	color:white;
	font-size: 105%;
	background-color: #292929;
}


#takstinfo {
text-size: 0.3em;
}


#meny_ul
{
list-style-type:none;
margin:10px;
padding:0;
overflow:hidden;
}

#meny_li
{
float:left;

}

#meny_a
{
display:block;
width:150px;
height: 20px;
text-decoration:none;
background-color:#FEC500;
color:black;
padding:3px 10px;
margin:3px 10px;
float:left;
clear:both;
text-align:center;
font-style: bold;
/* border:0px 20px 20px 0px solid red; */
border-top: 1px solid #191918;
border-right: 1px solid #191918;
border-bottom: 4px solid #191918;
border-left: 1px solid #191918;

}

.fb-comments 
{
color:white;
}

#fb-root
{
color:white;
}