p {color: yellow; }
p.normal {font-style:normal; }
p{font-family:"Times New Roman", Times, serif;}
p {font-size:125%}

body {color:white;}
body {font-size:105%;}

ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
li
{
float:left;
}
a
{
display:block;
width:150px;
}

ul {list-style-type:none;margin:10px}
ul li a {text-decoration:none;background-color:#FFCA00;color:black;padding:3px 
10px;
margin:3px 10px;float:left;width:100px;clear:both;border:2px solid black}
ul li a:hover {background-color:#7E93CC;color:black;}

BODY {background-color: #292929;}
